<%= if function_exported?(view_module(@conn), :breadcrumbs, 1) do %>
  <%= view_module(@conn).breadcrumbs(assigns) %>
<% end %>

<div class="container mx-auto mt-6 px-6 sm:px-0 pb-12">
  <.flash class="alert alert-info mb-6" msg={get_flash(@conn, :info)} live={false} />
  <.flash class="alert alert-error mb-6" msg={get_flash(@conn, :error)} live={false} />
  <%= @inner_content %>
</div>
