<%= if function_exported?(view_module(@conn), :breadcrumbs, 1) do %>
  <%= view_module(@conn).breadcrumbs(assigns) %>
<% end %>

<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
<%= @inner_content %>
