<%= if function_exported?(view_module(@conn), :breadcrumbs, 1) do %>
  <%= view_module(@conn).breadcrumbs(assigns) %>
<% end %>

<div class="container mx-auto">
  <.flash msg={get_flash(@conn, :info)} key={:info} live={false} />
  <.flash msg={get_flash(@conn, :error)} key={:error} live={false} />
</div>

<%= @inner_content %>
