<%= if function_exported?(@socket.view, :breadcrumbs, 1) do %>
  <%= @socket.view.breadcrumbs(assigns) %>
<% end %>

<div class="container mx-auto">
  <.flash class="alert alert-info" msg={live_flash(@flash, :info)} live={true} />
  <.flash class="alert alert-error"  msg={live_flash(@flash, :error)} live={true} />
</div>

<%= @inner_content %>
