<%= if function_exported?(@socket.view, :breadcrumbs, 1) do %>
  <%= @socket.view.breadcrumbs(assigns) %>
<% end %>

<div class="container mx-auto">
  <.flash key={:info} msg={live_flash(@flash, :info)} live={true} />
  <.flash key={:error} msg={live_flash(@flash, :error)} live={true} />
</div>

<%= @inner_content %>
