<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "938-GOLENNY" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer data-domain="938golenny.com" src="http://plausible.chendry.org/js/plausible.js"></script>
  </head>
  <body class="h-full flex flex-col">
    <div class="flex-grow">
      <%= render "_user_menu.html", assigns %>
      <%= @inner_content %>
    </div>
    <div class="py-6 text-center text-xs">
      Copyright <%= DateTime.utc_now().year %> 938-GOLENNY
      <br />
      <a class="text-blue-600" href="mailto:support@938golenny.com">support@938golenny.com</a>
    </div>
  </body>
</html>
